@model List<Empleados>

<body>
<div class="container justify-items-center">
    <h2>lista de Empleados </h2>
    <div class="mb-2">
        <a asp-action="RegEmpleados" asp-controller="Empleados" class="btn btn-outline-info">Registrar </a>
    </div>

    <div>
 <table class="table table-dark table-striped-columns g-6">
     <tr>
         <th>nombre</th>
         <th>apellido</th>
         <th>tipo de documento</th>
         <th>numero de documento</th>
     </tr>

                @foreach (var item in Model)
                {


               <tr>
                    <th>@item.nombre</th>
                    <th>@item.apellido_razsoc</th>
                    <th>@item.doc_tipo_id</th>
                    <th>@item.doc_nro</th>
                    <th>  <a asp-action="ModEmpleados" asp-controller="Empleados" class="btn btn-outline-primary" asp-route-id="@item.Id">Modificar</a></th>
                    <th> 
                        
               </tr>



                }
 </table>
 </div>
 </div>
</body> 
