@model List<Empleados>

    <div class="container justify-items-center min-vh-80">
    <div class="row">

            <div class="col-12 py-3 px-2  d-flex align-items-center justify-content-between">
                <h2>Lista de Empleados Activos</h2>
                 @if(User.IsInRole("Admin")){
                <a asp-action="RegEmpleados" asp-controller="Empleados" class="btn btn-primary">Registrar nuevo Empleado</a>
                 }
            </div>

    


    <div class="row">
                <table class="table table-striped-columns g-6">
             <tr>
                    <th>ID</th>
                 <th>nombre</th>
                 <th>apellido</th>
                 <th>tipo de documento</th>
                 <th>numero de documento</th>
                 <th> Fecha de alta</th>
                 <th>Opcion 1</th>
                 <th>Opcion 2</th>
             </tr>

                        @foreach (var item in Model)
                        {


                       <tr>
                            <th>@item.Id</th>
                            <th>@item.nombre</th>
                            <th>@item.apellido_razsoc</th>
                            <th>@item.doc_tipo_id</th>
                            <th>@item.doc_nro</th>
                            <th>@item.fecha_alta</th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th>  <a asp-action="ModEmpleados" asp-controller="Empleados" class="btn btn-opciones" asp-route-id="@item.Id">Modificar</a></th>
                            <th> <a asp-action="DelEmpleados" asp-controller="Empleados" class="btn btn-eliminar" asp-route-id="@item.Id">Eliminar</a></th>
                        }
                        else
                        {
                            <th colspan="2">No tienes los permisos necesarios</th>
                        }

                          
                        </tr>



                        }
         </table>
         </div>
    </div>
</div>