@model List<Promocion>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container min-vh-80">
        <div class="row">
            <div class="col-12">
                <div class="col-12 py-3 px-2  d-flex align-items-center justify-content-between">
                    <h2>Tabla de Promociones de Productos</h2>
                    <a asp-controller="Promocion" asp-action="Guardar" class="btn btn-primary">Crear Promocion de compra</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Promocion</th>
                            <th scope="col">Vigencia</th>
                            <th scope="col">Válido desde</th>
                            <th scope="col">Válido hasta</th>
                            <th scope="col" colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.id</th>
                                <td>  @item.producto.nombre (ID=@item.producto.id)</td>
                                <td>
                                    @if (@item.descuento == 0)
                                    {
                                        <p>Sin descuentos</p>
                                    } else {
                                        <p>@item.descuento</p>
                                    }
                                
                                </td>
                                         <td>
                                    @if (item.vigencia)
                                    {
                                        <p>Activa</p>
                                    } else {
                                    <p>No activa</p>
                                    }
                                    </td>
                                <td>@item.fechaDesde </td>
                                <td>@item.fechaHasta</td>
                                <td><a asp-controller="Promocion" asp-action="Editar" asp-route-id="@item.id" asp-id class="btn btn-info">Editar</a></td>
                                <td><a asp-controller="Promocion" asp-action="Eliminar" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
